*{
	margin: 0;
	padding: 0;
}
.list-select{
	width: 450px;
	border: 1px solid #adadad;
	border-radius: 3px;
	margin: 10px auto;
	background: rgba(244, 245, 245, 0.8);
	-webkit-user-select: none; /* Chrome all / Safari all */
	-moz-user-select: none; /* Firefox all */
	-ms-user-select: none; /* IE 10+ */</p> <p> /* No support for these yet, use at own risk */
	-o-user-select: none;
	user-select: none; 
}
/*-------标题样式------*/
.list-select .list-title{
	width: 440px;
	height: 40px;
	line-height: 40px;
	padding-left: 10px;
	border-bottom: 1px solid #adadad;
	cursor: move;
	background: #c0f0f3;
}
/*-------列表主体样式--------*/
.list-select .list-body{
	width: 100%;
}
.list-body > div{
	display: inline-block;
	height: 300px;
	overflow: auto;
}
.list-body .left-box, .list-body .right-box{
	width: 150px;
	border: 1px solid #ceadad;
	border-radius: 3px;
	margin: 10px 10px;
	background: #fff;
}
.list-body .center-box{
	width: 65px;
}

/*-------列表项样式-------*/
.list-body .item{
	display: block;
	text-align: left;
	padding-left: 10px;
}
.list-body .item:hover{
	background: #e7e7e7;
	cursor: pointer;
}
/*-------被选中的列表项--------*/
.list-body .item-box .selected-item{
	background: rgba(0, 0, 255, 0.25);
}

/*------中间选择按钮样式-------*/
.list-body .center-box > button{
	display: block;
	color: #434343;
    width: 50px;
    height: 30px;
    background: #fff;
    font-size: 14px;
    border: 1px solid #dcdcdc;
    border-radius: 2px;
    margin: 25px auto;
}
.list-body .center-box > button:hover{
	background: #e7e7e7;
    border-color: #ccc;
    cursor: pointer;
}
/*------面板底部样式----------*/
.list-select .list-footer{
	height: 40px;
    line-height: 40px;
    border-top: 1px solid #adadad;
    text-align: center;
    background: #c0f0f3;
}
.list-footer > button{
	display: block;
	color: #434343;
    width: 80px;
    height: 30px;
    background: #fff;
    font-size: 14px;
    border: 1px solid #dcdcdc;
    border-radius: 2px;
    margin: 5px auto;
}
.list-footer > button:hover{
	background: #e7e7e7;
    border-color: #ccc;
    cursor: pointer;
}